.colored-band-danger {
    background-color: #e04955;
    padding: 0.5rem;
    border-radius: 15px;    width: 120px;
text-align: center;
    color: #f0e6e7;
  }
 
  
  .colored-band-green {
    background-color: #57d876; 
    padding: 0.5rem;text-align: center;

    width: 120px;
    border-radius: 15px;
    color: #daeee1; 
  }
  .colored-band-yellow{   background-color: #9ca13c;
    padding: 0.5rem;text-align: center;

    border-radius: 15px;    width: 120px;

    color: #f7faee; }